body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  overflow: hidden;
  background-color: #3f3f3f;
  padding: 0.5rem;
}

.header a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 30px;
  font-weight: auto;
  font-family: "Pacifico", cursive;
}

.header a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(243, 242, 242);
}

.header a.active {
  background-color: #ef5ea3;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.container {
  position: relative;
  text-align: center;
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 25px;
}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  width: 100%;
  padding: 10px;
}

h2.center {
  position: relative;
  text-align: center;
  margin: 20px;
  padding: 20px;
  color: #3f3f3f;
}

p.paragraph {
  margin: 20px;
  padding: 5px;
  position: relative;
  color: #3f3f3f;
}

.column {
  float: left;
  width: 30%;
  padding: 6px;
  margin: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  padding: 10px;
  margin-top: 20px;
  color: #fff;
  background-color: #3f3f3f;
  text-align: center;
}
